@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.orange{
    color:  #ff9900;
    text-decoration:none;
}

.lightorange{
    color:  #ffc258;
}

.black {
    color:  #000000;
    text-decoration:none;
}

hr{
    border: 1px solid #ccc;
    margin: 10px;
}

.trash {
    background-color: orange; 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px;
    cursor: pointer;
}

input, select, textarea{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #333; 
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

input:focus, select:focus, textarea:focus{
    border-color: orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

button{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover{
    background-color: darkorange;
    transform: scale(1.05);

}

button:active{
    transform: scale(0.95);
}

body{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    gap: 20px;
}

.scaled{
    margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.input{
    height: auto;
    width: 500px;
    border: 2px solid orange;
    size: 500px 500px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.output{
    height: auto;
    width: 500px;
    border: 2px solid orange;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.box{
    border: 2px solid orange;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ingredient{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.saveBtn{   
    background-color:white; 
    border: 2px solid orange; 
    color: orange;
}

#RecipeName {
    font-size: 18px; 
    font-weight: bolder; 
    border: 2px solid #ff9900; 
    background-color: #fff7e6; 
    padding: 10px; 
    width: 330px; 
    display: block; 
    margin: 10px auto;
    border-radius: 8px; 
    text-align: center; 
    transition: all 0.3s ease-in-out;
}

#RecipeName:focus {
    border-color: darkorange;
    box-shadow: 0 0 8px rgba(255, 165, 0, 0.7);
}

#deleteRecipeBtn{
    background-color:white; /* Red */
    border: 2px solid orange; /* Darker red */
    color: orange;
}