<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScaleMyRecipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <h1> <span class="orange">Scale</span><span class="black">MyRecipe</span></h1>

    <div style="display: inline-flex; align-items: center; gap: 8px;">
        <label for="RecipeName">
            <input class="tile" id="RecipeName" placeholder="Recipe Name">
        </label>
        <button class="saveBtn" onclick="saveRecipe()">Save recipe</button>
        <a href="{{ url_for('recipes') }}">
            <button>View Saved Recipes</button>
        </a>        
    </div>    
    <div class="container">
        <div class="input">
            <div style="font-weight: bolder">Proportions: <input type="number" id="original_serving" value="2" min="1"> servings</div>
            <hr>
            <div id="ingredients_list">
            </div>
            <button onclick="addIngredient()">+ Add ingredient</button>
        </div>

        <div class="output">
            <div style="font-weight: bolder">Proportions: <input type="number" id="new_serving" value="4"  min="1"> servings</div>
            <hr>
            <div id="scaled_ingredients_list">
                 <!-- scaled ingredients are displayed here -->
            </div>
        </div>
    </div>

    <button onclick="scaleRecipe()">Scale Recipe</button>
    <button onclick="printIngredients()">Print Scaled Recipe</button>


</body>
</html>
