<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <h1> <span class="orange">Scale</span><span class="black">MyRecipe</span></h1>
    <label for="saved_recipes">Load a saved recipe:</label>
    <select id="saved_recipes" onchange="loadRecipe(this.value)">
        <option value="">Select a recipe...</option>
        {% for recipe in recipes %}
            <option value="{{ recipe.id }}">{{ recipe.name }}</option>
        {% endfor %}
    </select>
    <input type="text" id="RecipeName" placeholder="Recipe Name" readonly>

    <div class="container">
        <div class="input">
            <div style="font-weight: bolder;">Proportions:<input type="number" id="original_serving" placeholder="Original Servings" readonly></div>
            <hr>
            <div id="ingredients_list">
                <!-- ingredients will be loaded here -->
            </div>
        </div>

        <div class="output">
            <label for="new_serving" style="font-weight: bolder;">New Servings:</label>
            <input type="number" id="new_serving" placeholder="New Servings">
            <hr>
            <div id="scaled_ingredients_list">
                <!-- scaled ingredients displayed here -->
            </div>
        </div>
    </div>
    
    <div class="buttons-container">
        <button onclick="scaleRecipe()" class="scale-btn">Scale Recipe</button>
        <button class="deleteBtn" id="deleteRecipeBtn" onclick="deleteRecipe()" style="display: none;">
            Delete Recipe
        </button>
        <button onclick="printIngredients()">Print Scaled Recipe</button>
    </div>

</body>
</html>
